---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

## Peer-Reviewed Publications

{% for paper in site.data.publications %}
{{ forloop.index }}. {{ paper.authors }} ({{ paper.year }}). *{{ paper.title }}*. {{ paper.journal }}.{% if paper.doi %} [DOI Link]({{ paper.doi }}){% endif %}
{% endfor %}

- authors: "Pan, Y., Song, Y., Yang, T., Ding, Y., & Hu, X."
  year: 2025
  title: "Equitable Urban Electric Vehicle Charging: Feasibility and Benefits of Streetlight Charging in Kansas City Right-of-Way"
  journal: "Journal of Urban Planning and Development"
  doi: ""

- authors: "Pan, Y., Zhang, B., Guo, J., Chen, Y., & Zhao, H."
  year: 2025
  title: "Road Impedance Function for Oversaturated Traffic State Based on Fundamental Diagram"
  journal: "Journal of Highway and Transportation Research and Development"
  doi: "https://doi.org/10.3969/j.issn.1002-0268.2025.02.001"

- authors: "Li, A., Xu, Z., Li, W., Chen, Y., & Pan, Y*."
  year: 2025
  title: "Urban Signalized Intersection Traffic State Prediction: A Spatial-Temporal Graph Model Integrating the Cell Transmission Model and Transformer"
  journal: "Applied Sciences"
  doi: "https://doi.org/10.3390/app15052377"

- authors: "Pan, Y., Li, F., Li, A., Niu, Z., & Liu, Z."
  year: 2025
  title: "Urban Intersection Traffic Flow Prediction: A Physics-guided Stepwise Framework Utilizing Spatio-Temporal Graph Neural Network Algorithms"
  journal: "Multimodal Transportation"
  doi: "https://doi.org/10.1016/j.multra.2025.100207"

- authors: "Pan, Y., Cheng, Q., Li, A., Zhang, J., Guo, J., & Chen, Y."
  year: 2024
  title: "Analysis of Congestion Key Parameters, Dynamic Discharge Process, and Capacity Estimation at Urban Freeway Bottlenecks: A Case Study in Beijing, China"
  journal: "Transportation Letters"
  doi: "https://doi.org/10.1080/19427867.2024.2404349"

- authors: "Li, W., Chen, Y., Pan, Y., & Zhang, Y."
  year: 2024
  title: "An Improved Spatio-Temporal Network Traffic Flow Prediction Method Based on Impedance Matrix"
  journal: "Journal of Highway and Transportation Research and Development"
  doi: "http://doi.org/10.26599/HTRD.2024.9480015"

- authors: "Zhao, H., Chen, Y., Zhang, B. & Pan, Y."
  year: 2024
  title: "Study on Transit Signal Priority Timing Considering Traffic and Environmental Benefit"
  journal: "Journal of Highway and Transportation Research and Development"
  doi: "http://doi.org/10.3969/j.issn.1002-0268.2024.02.022"

- authors: "Pan, Y., Guo, J., Chen, Y., Cheng, Q., Li, W., & Liu, Y."
  year: 2024
  title: "A Fundamental Diagram based Hybrid Framework for Traffic Flow Estimation and Prediction by Combining a Markovian Model with Deep Learning"
  journal: "Expert Systems with Applications, 122219"
  doi: "https://doi.org/10.1016/j.eswa.2023.122219"

- authors: "Pan, Y., Zheng, H., Guo, J., & Chen, Y."
  year: 2023
  title: "Modified Volume-Delay Function Based on Traffic Fundamental Diagram: A Practical Calibration Framework for Estimating Congested and Uncongested Conditions"
  journal: "Journal of Transportation Engineering, Part A: Systems, 149(11), 04023112"
  doi: "https://doi.org/10.1061/JTEPBS.TEENG-790"

- authors: "Pan, Y., Guo, J., & Chen, Y."
  year: 2022
  title: "Calibration of Dynamic Volume-delay Functions: A Rolling Horizon-based Parsimonious Modeling Perspective"
  journal: "Transportation Research Record, 2676(2), 606-620"
  doi: "https://doi.org/10.1177/03611981211044727"

- authors: "Pan, Y., Guo, J., Chen, Y., Li, S., & Li, W."
  year: 2022
  title: "Incorporating Traffic Flow Model into a Deep Learning Method for Traffic State Estimation: A Hybrid Stepwise Modeling Framework"
  journal: "Journal of Advanced Transportation, 2022"
  doi: "https://doi.org/10.1155/2022/5926663"

- authors: "Pan, Y., Guo, J., Chen, Y., & Xie, J."
  year: 2022
  title: "Analysis of Urban Expressway Traffic Flow Characteristics Based on Traffic Flow Model: A Case Study of Beijing and Los Angeles"
  journal: "Science Technology & Engineering. 2022, 22(36): 16238-16245"
  doi: ""

- authors: "Chen, Y., Li, S., Pan, Y., & Zhang, J."
  year: 2022
  title: "Urban Expressway Congestion Forewarning Based on Slope Change of Traffic Flow Fundamental Diagram"
  journal: "Journal of Transportation Engineering, Part A: Systems, 148(6), 04022030"
  doi: "https://doi.org/10.1061/jtepbs.0000687"

- authors: "Chen, Y., Zhao, H., Pan, Y., & Li, S."
  year: 2022
  title: "Research on Signal Timing Optimization Model Considering Stopping Emissions Based on VISSIM Simulation"
  journal: "CICTP 2022, 590-600"
  doi: "https://ascelibrary.org/doi/abs/10.1061/9780784484265.056"

- authors: "Shi, J., Xie, J., Pan, Y., & Li, Y."
  year: 2022
  title: "Mixed Traffic Flow Simulation Analysis Considering Manual-Automatic Driving on Single Lane Road"
  journal: "Science Technology & Engineering. 2022, 22(28): 12651-12658"
  doi: ""

- authors: "Tong, L., Pan, Y.*, Shang, P., Guo, J., Xian, K., & Zhou, X."
  year: 2019
  title: "Open-Source Public Transportation Mobility Simulation Engine DTALite-S: A Discretized Space-Time Network-Based Modeling Framework for Bridging Multi-Agent Simulation and Optimization"
  journal: "Urban Rail Transit, 5, 1-16"
  doi: "https://doi.org/10.1007/s40864-018-0100-x"

