.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  width: 300px;
  text-align: center;
}

.page__content p {
  line-height: 2.8;       // 设置行距为 1.8
  font-size: 17px;        // 可选：字体大小
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  // 可选：字体样式
}
